body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6f7ff; /* Light blue background for a soft, inviting look */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 15px;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Increased max-width for a wider form */
}

h1 {
    color: #007bff; /* Blue color for the title */
    text-align: center;
    margin-bottom: 30px; /* More space below the title */
    font-size: 24px; /* Larger title */
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin for more space above inputs */
    color: #333;
    font-size: 18px; /* Larger labels for better readability */
}

input[type="text"] {
    width: 100%;
    padding: 15px; /* Increased padding for taller input fields */
    margin-bottom: 20px; /* Increased margin for more space between inputs */
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px; /* Larger font size for input text */
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none; /* Removes the default focus outline and replaces it with a border color change */
}

button[type="submit"] {
    width: 100%;
    background-color: #007bff; /* Bright blue background */
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Larger font size for button text */
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* A darker shade of blue for hover effect */
}
